1, 리스트에서 특정 대여소 클릭시 상세 페이지로 이동 및 출력, 대여소 리스트 대여소 상세 정보
2, 즉시 대여 기능, 대여소 상세 정보
3, 예약 대기 기능, 대여소 상세 정보
4, 문자 알람 기능, 대여소 상세 정보
5, 자전거 조회 및 출력 기능, 대여 정보 리스트
6, 자전거 반납 기능, 대여 정보 리스트
7, 대기 예약한 회원에 알람 메세지 기능, 대여 정보 리스트
8, 위치 정보 기반 식당 추천 기능, 대여 정보 리스트
9, 예약 대기 조회 및 출력 기능, 예약 대기 정보 리스트
10, 예약 대기 취소 기능, 예약 대기 정보 리스트