자전거 상세정보 조회 및 자전거 대여 서비스

	특정 대여소 선택 시 상세정보화면 출력
		대여소 이름, 대여소 위치, 사용 가능 자전거 목록

	사용 가능 자전거 목록 대여 및 예약
		자전거 목록에 자전거가 있을 경우 
			대여 가능하도록 
			대여 완료 확인 문자 알림

		자전거 목록에 자전거가 없을 경우
			예약 대기하도록
			예약 대기 확인 문자 알림


자전거 대여 정보 조회 서비스

	현재 대여 중인 자전거 리스트 출력
		대여소 이름, 대여소 위치, 자전거 ID, 자전거 제품명, 자전거 유형

자전거 예약대기 정보 조회 서비스

	회원의 자젼거 예약대기 정보 리스트 출력
		대여소 이름, 대여소 위치, 자전거 ID, 자전거 제품명, 자전거 유형

	취소
		

자전거 반납 서비스

	대여 정보 화면에서 반납
		반납 후 사용자 위치 정보를 기반으로 근처 식당을 추천
			예약 가능한 외부 서비스와 연결
		해당 자전거의 대기 예약한 회원이 있는 경우
			1순위 회원에게 예약되었다는 이메일 전송